body {
    background-color: #03143A;
    font-family: Inter, Arial, Helvetica, sans-serif;
    padding:16px;
}
a {
    color:#ffffff;
}
a:hover {
    color:#f04e98;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #ffffff;
}
.background {
    background-image: url('../img/elastic-logo.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 128px;
    height:100%;
    position:relative;
    width:100%;
}